h1 {
    font-family: ChopinScript;
    color: blanchedalmond;
    font-size: 70px;
    
}

p {
    font-family: Great Day Personal Use;
    font-size: 30px;
    color: blanchedalmond;
    
}

div {

    align-content: center; 
    margin-left: 300px;
    margin-right: 300px;
}
body {
    background-image: url(https://cdn.edelvives.es/docs/catalogo/602/imgs/original/102338_cerezaguinda_EDV.jpg);
 
}